*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Compiled Object files
*.o

# Executables
zpic-cuda

# Output directories
CHARGE/
CURRENT/
EMF/
PARTICLES/
PHASESPACE/

# Python leftovers
__pycache__/

# VS Code leftovers
*.code-workspace
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/launch.json
.vscode/targets.log
.vscode/settings.json
